.logo-accent {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-size: 26px;
}

.logo-black {
    font-family: 'Raleway';
    color: var(--black-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-white {
    color: var(--secondary-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}