:root {
    --main-color: #757575;
    --secondary-color: #ffffff;
    --section-color: #212121;
    --accent-color: #2196f3;
    --black-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --bgc-semiblack: #2f303a;
    --icons-grey: #AFB1B8;
}