.clients {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding: 94px 0;
        
    }
}

.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--section-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {

        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;

    }


}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.clients__item {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);    
    height: 92px;

    @media screen and(min-width: 768px) {
        flex-basis: calc((100% - 60px) / 3 );
        

    }

    @media screen and(min-width: 1200px) {
        flex-basis: calc((100% - 150px) / 6 );


    }
    

}

.clients__link {

    height: 100%;
    width: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
}

}

.client__icon {
    fill: var(--icons-grey);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover &,
    .clients__link:focus & {
    fill: var(--accent-color);
}
}



