.footer {
    padding: 60px 0;
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgc-semiblack);
}

.footer-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: nowrap;
        
        
        
    }
    

}

@import "../components/footer-adress";
@import "../components/footer-social";
@import "../components/footer-subscribe-form";
